<% for (var i=0; i<COPY.lesson_intros.length; i++) { %>
    <% if (COPY.lesson_intros[i][0] == getParameterByName('id')) { %>
        <h1><%=COPY.lesson_intros[i][1]%></h1>
    <% } %>
<% } %>

<% for (var i=0; i<LESSON.length; i++) { %>
    <h3>
        <a href="<%=LESSON[i][2]%>" target="_blank"><%=LESSON[i][0]%></a>
    </h3>
    <% if (LESSON[i][4] !== '') { %>
        <p>by <%=LESSON[i][4]%></p>
    <% } %>
    <p><%=LESSON[i][5]%></p>
<% }%>

<a class="btn btn-large btn-primary" href="/lesson.html?id=<%=lessonNumber + 1%>">Next Lesson</a>