<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://blueline.knightlab.com/favicon.ico" />

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}
    <link href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css" rel="stylesheet" type="text/css">
    {% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {# Twitter #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@knightlab">
    <meta name="twitter:image" content="{{ TWITTER_IMAGE_URL }}" />

    {# Facebook #}
    <meta property="og:title" content="{{ COPY.sharing.facebook_title }}" />
    <meta property="og:url" content="{{ SHARE_URL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ COPY.sharing.facebook_text }}" />
    <meta property="og:image" content="{{ FACEBOOK_IMAGE_URL }}" />
    <meta property="og:site_name" content="knightlab.com" />
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />

    {# Google News #}
    <meta name="thumbnail" content="{{ GOOGLE_IMAGE_URL }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}
    <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">learn.knightlab.com</a>
                    <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Lessons
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#lesson_0">Lesson 0</a></li>
                                    <li><a href="#lesson_1">Lesson 1</a></li>
                                    <li><a href="#lesson_2">Lesson 2</a></li>
                                    <li><a href="#lesson_3">Lesson 3</a></li>
                                    <li><a href="#lesson_4">Lesson 4</a></li>
                                    <li><a href="#lesson_5">Lesson 5</a></li>

                                </ul>
                            </li>

                        </ul>
                        <ul class="nav pull-right">
                            <li class="knightlab-tab">
                                <a data-toggle="preheader" href="#">
                                    <span>Northwestern University Knight Lab</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% block header_content %}

    {% endblock header_content %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main-content" class="col-md-8">
                    {% block content %}
                    <h1>{{ project_name }}</h1>
                    App content goes here.

                    <i class="icon icon-play"></i>
                    {% endblock content %}
                </div>
            </div>
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>
    {% endblock outer_content %}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/ads.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS.ACCOUNT_ID }}']);
        _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS.DOMAIN }}']);
        //_gaq.push(['_setCustomVar', 1, 'BC', '', 3]);
        //_gaq.push(['_setCustomVar', 2, 'Topics', '', 3]);
        //_gaq.push(['_setCustomVar', 3, 'Program ID', '', 3]);
        //_gaq.push(['_setCustomVar', 3, 'Localization', '', 1]);
        _gaq.push(['_setCustomVar', 4, 'OrgID', '1', 3]);
        _gaq.push(['_setCustomVar', 5, 'Page Types', '1', 3]);

        var orientation = 'portrait';

        if (window.orientation == 90 || window.orientation == -90) {
            orientation = 'landscape';
        }

        _gaq.push(['_setCustomVar', 6, 'Orientation', orientation, 3]);

        var viewportSize = $(window).width();
        var viewportGrouping = '1760 and higher';

        if (viewportSize < 481) {
            viewportGrouping = '0 - 480';
        } else if (viewportSize < 768) {
            viewportGrouping = '481 - 767';
        } else if (viewportSize < 1000) {
            viewportGrouping = '768 - 999';
        } else if (viewportSize < 1201) {
            viewportGrouping = '1000 - 1200';
        } else if (viewportSize < 1760) {
            viewportGrouping = '1201 - 1759';
        }

        _gaq.push(['_setCustomVar', 7, 'Viewport Size', viewportGrouping, 3]);

        if (typeof window.devicePixelRatio !== 'undefined' && window.devicePixelRatio >= 1.5) {
            _gaq.push(['_setCustomVar', 10, 'High Density Displays', 'High', 2]);
        } else {
            _gaq.push(['_setCustomVar', 10, 'High Density Displays', 'Low', 2]);
        }

        if ('ontouchstart' in document.documentElement) {
            _gaq.push(['_setCustomVar', 11, 'Touch screens', 'Touch', 2]);
        } else {
            _gaq.push(['_setCustomVar', 11, 'Touch screens', 'Traditional', 2]);
        }

        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
