{% extends '_base.html' %}

{% block header_content %}
    <header id="overview" class="hero-unit">
        <div class="row-fluid">
            <hgroup class="span12">
                <h1 class='logo-mark xl'>Learn.<wbr>knightlab.<wbr>com</h1>
                <h2 class='intro'>Join the future of journalism.</h2>
            </hgroup>
        </div>
    </header>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="intro span8 offset2">
            <p>The future of journalism requires a deep understanding of the web, of design, of data, of communities large and small, of all types of media. A modern journalist needs new skills that they cannot yet learn in a traditional j-school education.</p>

            <p>Luckily, the resources for learning are out there. At learn.knightlab.com, the Knight Lab is curating a syllabus of sorts to make sense of the endless articles, tutorials, videos, tools and other resources for learning the digital skills a new journalist needs to succeed. If you think we are missing something, let us know at <a href="mailto:knightlab@northwestern.edu">knightlab@northwestern.edu.</a></p>

            <p>Through structured, digestible lessons, this site will lead newcomers through the skills they need to learn, beginning with some pre-reading to establish the proper mindset and knowledge.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="lessons span8 offset2">
            {% for row in COPY.lesson_intros %}
                <div class="lesson_title">
                    <h2>
                        <a href="/lesson?id={{ row[0] }}">{{ row[1] }}</a>
                    </h2>
                </div>
                <div class="lesson_desc">
                    <p>{{ row[2] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
