{% extends '_base.html' %}

{% block header_content %}
    <header id="overview" class="hero-unit">
        <div class="row-fluid">
            <hgroup class="span12">
                <h1 class='logo-mark xl'>Learn.<wbr>knightlab.<wbr>com</h1>
                <h2 class='intro'>Join the future of journalism.</h2>
            </hgroup>
        </div>
    </header>
{% endblock %}


{% block content %}

<div class="lessons">
    {% for row in COPY.lesson_intros %}
        <div class="lesson_title">
            <h2>
                <a href="/lesson/{{ row[0] }}">{{ row[1] }}</a>
            </h2>
        </div>
        <div class="lesson_desc">
            <p>{{ row[2] }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
